.banner {
  background-image: url("/assets/foto-fundo-pb.JPG");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.button {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  position: relative;
  top:69%;
  margin: 10px;
}
@keyframes glowing {
  0% {
    background-color: black;
    box-shadow: 0 0 5px white;
  }
  50% {
    background-color: black;
    box-shadow: 0 0 20px white;
  }
  100% {
    background-color: black;
    box-shadow: 0 0 5px white;
  }
}
.button {
  animation: glowing 1300ms infinite;
}
