<div class="topnav">
<div class="container">
  <a class="active"> <i class="fa-sharp fa-solid fa-house"></i> Home</a>
  <a href="#news"><i class="fa-solid fa-calendar-days"></i> Agenda</a>
  <%= image_tag("thaled-logo-02.png", size: "250x80", :alt => "rss feed")%>
  <a href="#"><i class="fa fa-fw fa-envelope"></i> Contato</a>
  <a href="#about" ><i class="fa-solid fa-music"></i></i> Plataformas</a>
</div>
</div>
