<div class="landing-container mb-5">
  <section class="page-header text-center banner-section" id="banner-section">
    <div class="container">
      <div class="image-section">
        <div class="image"></div>
        </div>
          <div class="text-section">
            <div class="top-bar"></div>
              <div>
            <h1>Thaled?</h1>
          </div>
      <!-- Paragraph -->
          <div>
          <h5>Formado por amigos de longa data, Eduardo Amazonas e Marcelo Erthal, o Thaled Music é a materialização do amor de ambos pela música eletrônica. Moradores do Rio de janeiro - Brasili, tiveram seu primeiro contato com a música eletrônica na adolescência, frequentando festivais e festas de diferentes gêneros. Logo se apaixonaram pela cena underground, principalmente por estilos como Techno e Tech House.
Após alguns anos esse vínculo de amizade passaria a ser também profissional. Em 2019 iniciaram o projeto da duo. Dois anos de preparação se passaram e hoje a dupla traduz para as pistas seu entusiasmo em seus sets repletos de energia e variedade sonora. Selecionando tracks de diferentes vertentes do House ao Techno a duo leva seus ouvintes a uma experiência incomum de sentimentos e sensações que prometem não deixar ninguém parado em suas apresentações.</h5>
          </div>
      <!-- Link -->
      <div class="container-button mt-5">
      <button class="button-28" role="button">Contato</button>
      <button class="button-28 mt-5" role="button">Home</button>
      </div>
      </div>
    </div>
    </div>
    </div>
  </section>
